/*
 * Device Tree overlay for pcb-etcher hat by jkoz
 *
 */

/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&spi0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&spidev0>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@2 {
		target = <&spidev1>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@3 {
		target = <&gpio>;
		__overlay__ {
			rpi_display_pins: rpi_display_pins {
				brcm,pins = <18 22 27>;
				brcm,function = <1 1 1>; /* out out out in */
				brcm,pull = <0 0 0>; /* - - - up */
			};

			ads7846_pins: ads7846_pins {
				brcm,pins = <6>; /* illegal default value */
				brcm,function = <0>; /* in */
				brcm,pull = <2>; /* none */
			};
		};
	};

	fragment@4 {
		target = <&spi0>;
		__overlay__ {
			/* needed to avoid dtc warning */
			#address-cells = <1>;
			#size-cells = <0>;

			rpidisplay: rpi-display@0{
				compatible = "ilitek,ili9341"; 
/*                               compatible = "multi-inno,mi0283qt";
*/				reg = <0>;
				pinctrl-names = "default";
				pinctrl-0 = <&rpi_display_pins>;

				spi-max-frequency = <32000000>;
				rotate = <90>;
				bgr;
				fps = <30>;
				buswidth = <8>;
				reset-gpios = <&gpio 27 1>;
				dc-gpios = <&gpio 22 0>;
				led-gpios = <&gpio 18 0>;
				debug = <0>;
			};

			ads7846: ads7846@1 {
				compatible = "ti,ads7846";
				reg = <1>;
				pinctrl-names = "default";
				pinctrl-0 = <&ads7846_pins>;

				spi-max-frequency = <2000000>;
				interrupts = <6 2>; /* high-to-low edge triggered */
				interrupt-parent = <&gpio>;
				pendown-gpio = <&gpio 6 1>;
				ti,y-min = /bits/ 16 <433>;
				ti,x-min = /bits/ 16 <240>;
				ti,y-max = /bits/ 16 <3894>;
				ti,x-max = /bits/ 16 <3872>;
				ti,pressure-max = /bits/ 16 <255>;
				ti,x-plate-ohms = /bits/ 16 <60>;
				ti,swap-xy = <1>;
			};
		
		};
	};

};
